*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background:linear-gradient(125.83deg, rgb(57, 45, 209) 0%, rgb(169, 27, 120) 99.09%);
    min-height: 100vh;
    color: var(--text-primary);
    line-height: 1.6;
}
.tool-box-cont{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    height: 75px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.brand-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.brand-sec>i{
    font-size: larger;
    font-weight:900;
    color: rgb(33, 33, 161);
}
h2{
    font-family: "Ubuntu", sans-serif;
}
.toolbox-priority-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.toolbox-priority-cont>span{
      font-family: "Playfair Display", serif;
      font-weight: normal;
  font-style: italic;
}
.color-filters{
    display: flex;
    gap: 0.5rem;
}
.color{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* background-color: aqua; */
}
.green{
   background-color: rgb(92, 211, 92) ; 
}
.yellow{
   background-color: rgb(254, 254, 90);
}
.red{
    background-color: rgb(255, 81, 81);
}
.black{
    background-color: rgb(53, 53, 53);
}
.action-btn-ctn{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    color:aliceblue;
    font-weight: 600;
    font-family: "Special Gothic", sans-serif;
}
.add-btn , .remove-btn{
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
}
.add-btn{
    
    background-color: #35ed78;
}
.remove-btn{
    background-color: #f14e4e;
}
.add-btn:hover{
    
    background-color: #1eab52;
    transition-duration: 0.5s;
}
.remove-btn:hover{
    background-color: #ca2020;
    transition-duration: 0.5s;
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
}
.ticket{
    
    height: 10rem;
    width: 20rem;
    background-color: aliceblue;
    border-radius: 5%;
    overflow: hidden;
    position: relative;
}
.ticket-priority-color{
    height: 1rem;
    width: auto;
    background-color: rgb(164, 164, 164);
}
.ticket-id{
    /* border: 1px solid black; */
    height: 2rem;
    width: 18rem;
    padding: 8px;
    display: flex;
    align-items: flex-start;
}
.ticket-area{
    display: flex;
    align-items: flex-start;
    /* border: 1px solid black; */
    height: 6rem;
    width: auto;
    /* background-color: black; */
    padding: 8px;
     word-wrap: break-word;
    
}
.ticket-delete{
    color:rgb(225, 9, 9);
 position: absolute;
 top: 16px;
 right: 0px;

 height:2rem;
 width: 2.1rem;
 display: flex;  
 align-items: center;
 justify-content: center; 
}
.creation-popup{
    height: 20rem;
    width: 30rem;
    background-color: azure;
    overflow: hidden;
     background:linear-gradient(125.83deg, rgb(139, 249, 88) 0%, rgb(143, 54, 202) 99.09%);
     border-radius: 5%;
   display: flexbox;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.instruction{
    height: 3rem;
    /* border: 1px solid; */
    width: auto;
    margin: 5px;
    color: rgb(48, 46, 46);
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: italic;
  font-size: 10px;
  padding-left: 10px;
  background-color:rgb(232, 231, 231);
  
border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  
}
.creation-area{
    height: 50%;
    /* border: 1px solid; */
    margin: 5px;
    padding: 2px 2px 2px 10px;
    color:black;
    font-weight: 600;
    background-color:rgb(232, 231, 231);
    font-family: cursive;
}
.priority-colors{
    display: flex;
    height: 28%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* border: 1px solid; */
    margin: 5px;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    /* padding: 5px; */
    background-color:rgb(232, 231, 231);
}
.low-level , .normal-level, .medium-level, .high-level{
    /* border: 1px solid; */
    height: 3rem;
    width:3rem;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    
}
.low-level{
    background-color: rgb(92, 211, 92) ; 
}
.normal-level{
    background-color:rgb(254, 254, 90);
}
.medium-level{
   background-color: rgb(255, 81, 81);
}
.high-level{
    background-color:  rgb(53, 53, 53);
}
.low-level:hover{
    background-color: rgb(69, 176, 69) ; 
}
.normal-level:hover{
    background-color:rgb(240, 240, 20);
}
.medium-level:hover{
   background-color: rgb(238, 47, 47);
}
.high-level:hover{
    background-color:  rgb(32, 31, 31);
}
.save-btn{
    padding: 10px;

    border-radius: 15px;
    border-color: rgb(143, 54, 202);
    font-family: monospace;
    font-weight: bold;
  font-style: italic;
  background-color: rgb(206, 212, 216);
}