*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background:linear-gradient(125.83deg, rgb(57, 45, 209) 0%, rgb(169, 27, 120) 99.09%);
    min-height: 100vh;
    color: var(--text-primary);
    line-height: 1.6;
}
.tool-box-cont{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    height: 75px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.brand-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.brand-sec>i{
    font-size: larger;
    font-weight:900;
    color: rgb(33, 33, 161);
}
h2{
    font-family: "Ubuntu", sans-serif;
}
.toolbox-priority-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.toolbox-priority-cont>span{
      font-family: "Playfair Display", serif;
      font-weight: normal;
  font-style: italic;
}
.color-filters{
    display: flex;
    gap: 0.5rem;
}
.color{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* background-color: aqua; */
}
.green{
   background-color: rgb(92, 211, 92) ; 
}
.yellow{
   background-color: rgb(254, 254, 90);
}
.red{
    background-color: rgb(255, 81, 81);
}
.black{
    background-color: rgb(53, 53, 53);
}
.action-btn-ctn{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    color:aliceblue;
    font-weight: 600;
    font-family: "Special Gothic", sans-serif;
}
.add-btn , .remove-btn{
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
}
.add-btn{
    
    background-color: #35ed78;
}
.remove-btn{
    background-color: #f14e4e;
}
.add-btn:hover{
    
    background-color: #1eab52;
    transition-duration: 0.5s;
}
.remove-btn:hover{
    background-color: #ca2020;
    transition-duration: 0.5s;
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
}
.ticket{
    
    height: 10rem;
    width: 20rem;
    background-color: aliceblue;
    border-radius: 5%;
    overflow: hidden;
    position: relative;
}
.ticket-priority-color{
    height: 1rem;
    width: auto;
    background-color: rgb(164, 164, 164);
}
.ticket-id{
    /* border: 1px solid black; */
    height: 2rem;
    width: 18rem;
    padding: 8px;
    display: flex;
    align-items: flex-start;
}
.ticket-area{
    display: flex;
    align-items: flex-start;
    /* border: 1px solid black; */
    height: 6rem;
    width: auto;
    /* background-color: black; */
    padding: 8px;
     overflow-wrap: break-word;
    
}
.ticket-delete{
    color:rgb(225, 9, 9);
 position: absolute;
 top: 16px;
 right: 0px;

 height:2rem;
 width: 2.1rem;
 display: flex;  
 align-items: center;
 justify-content: center; 
}
